.artist-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #0d1117;
}

.back-to-artists {
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}

.back-to-artists:hover{
    background-color: white;
    color: rgba(68, 25, 109, 0.623);
    font-weight: bold;
}

.about {
  word-wrap: break-word;
}

.releases {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  justify-content: center;
  color: #fafafa;
  width: 100%;
  height: 70%;
  gap: 1em;
  white-space: pre-line;
  margin-top: 3%;
}

.back {
  text-decoration: none;
}

.artist-description {
  display: flex;
    flex-direction: column;
    line-height: 1.4em;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    font-family: monospace;
    padding-left: 1em;
    padding-right: 1em;
    width: 40%;
    background: #161b22;
}

.artist-img {
  width: 35%;
}

.purple {
  color: #d2a8ff;
}

.white {
  color: white;
}

.red {
  color: #ff7b72;
}
