nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  margin-top: 1%;
  border: 1px solid rgb(233, 185, 255, .8);
}

.header-title {
  font-family: 'poppins' , sans-serif;
  margin: 0%;
  margin-top: .5%;
  margin-left: 5%;
  width: 50%;
  font-size: 2em;
  color: rgb(233, 185, 255);
  text-decoration: none;
}

.nav-title {
  position: relative;
}