.artist-page{
  height: 100vh;
  background-color: #121212;
  background-image: url('https://images.unsplash.com/photo-1582730147924-d92f4da00252?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80');
  background-position: center center;
  background-size:cover ;
  z-index: 5;
}
